/* flex */
/* justify content */
/* align items */
/* div {
  display: flex;
  align-items: center; vertical 
  justify-content: space-between; horizontal
} */

/* h2 {
  height: 200px;
  width: 200px;
  background-color: red;
} */

/* p {
  height: 50px;
  width: 50px;
  background-color: blueviolet;
} */

/* .third {
  height: 100px;
  width: 100px;
  background-color: green;
} */

/* #big {
  color: green;
  background-color: blueviolet;
} */

.wrapper {
  background: radial-gradient(white, #ffd6d6);
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.second-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-image {
  width: 350px;
}
